<h1>Enviar un mail con logic apps</h1>

<form method="post">
    <label>Destino</label>
    <input type="text" name="email" class="form-control"/>
    <br />
    <label>Asunto</label>
    <input type="text" name="asunto" class="form-control" />
    <br />
    <label>Mensaje</label>
    <input type="text" name="mensaje" class="form-control" />
    <br />
    <button class="btn btn-success">Enviar!</button>
</form>

<h2 style="color:forestgreen;">@ViewData["MSG"]</h2>